<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Encontre Amigos</h1>
  <h2>Fazer Login</h2>
  <form action="/cadastrarusuario" method="post" enctype="multipart/form-data">
    <p>
      <a>Nome</a>
      <input type="text" name="nome"><br>
    </p>
    <p>
      <a>E-mail</a>
      <input type="text" name="email"><br>
    </p>
    <p>
      <a>Senha</a>
      <input type="password" name="senha"><br>
    </p>
    <p>
      <input type="file" name="file" />
    </p>
    <p>
      <button type="submit" >Cadastrar</button>
    </p>

  </form>

</body>
</html>